<h1 class="text-center">{{title}}</h1>

<br />
<ul class="nav mr-auto justify-content-around navbar-dark bg-dark navbar-fixed-top">
    <li>
      <a class="navbar-brand btn btn-dark"   routerLink="/token">Settings</a>
    </li>
    <li>
      <a class="navbar-brand btn btn-dark" routerLink="/users">All Employees</a>
    </li>
    <li>
      <a class="navbar-brand btn btn-dark" routerLink="/presence">Presence</a>
    </li>
</ul>
<br />
<br />
<app-messages></app-messages>
<router-outlet></router-outlet>

